{% extends 'adminBase.html.twig' %}

{% block stylesheets %}
            {{ encore_entry_link_tags('show') }}
{% endblock %}

{% block title %}Competence{% endblock %}

{% block body %}

   <!-- <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competence.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competence.description }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ competence.level }}</td>
            </tr>
        </tbody>
    </table>
    !-->

    <div class="grid-container-show">

        <div class="item-show-1 item-display">
            <div class="main-header">
                <h2>Competence : {{ competence.name }}</h2>
            </div>
        </div>

        <div class="item-show-8">
            <div>
                <img id="img-competence" src="{{ asset('build/images/php.png')}}" alt="php img"/>
            </div>
        </div>

        <div class="item-show-2 item-display">
            <div class="secondary-header">
                <h3>n° Id</h3>
            </div>
        </div>

        <div class="item-show-3 item-display">
            <div class="content-text">
                <p>{{ competence.id }}</p>
            </div>
        </div>

        <div class="item-show-4 item-display">
            <div class="secondary-header">
                <h3>Niveau</h3>
            </div>
        </div>

        <div class="item-show-5 item-display">
            <div class="content-text">
                <p>{{ competence.level }}</p>
            </div>
        </div>
.
        <div class="item-show-6 item-display">
            <div class="secondary-header">
                <h3>Description</h3>
            </div>
        </div>

        <div class="item-show-7 item-display">
            <div class="content-text content-description">
                <p>{{ competence.description }}</p>
            </div>
        </div>
    </div>

    <div class="content-buttons">
        <div class="button-edit">
            <a href="{{ path('competence_edit', {'id': competence.id}) }}">Modifier</a>
        </div>

        <div class="button-delete">
            {{ include('competence/_delete_form.html.twig') }}
        </div>
    </div>

    <div>
        <a class="link-back" href="{{ path('competence_index') }}">back to list</a>
    </div>

    
        

        
    
{% endblock %}
